
h1 Bleep bloop bleep

if IdResults
    h4 Search Results
    ul
    for results in IdResults
        li #{results.name}
    else
        h4 No Results
if deleteString
    p #{deleteString}
if NewPost
    p #{NewPost}